.food-heading {
  color: brown;
}

.kg-item {
  background-color: khaki !important;
}

.kg-span {
  font-weight: 500;
  color: orangered;
}

.container {
  border: 1px solid gray;
  padding: 10px;
  align-content: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 350px;
}

.Inputtext {
  text-align: left;
}